* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%; /* faz com que a fonte da página se comporte como 10px para que a unidade rem seja usada sempre. */
}

body {
  font-family: Lato, sans-serif;
  font-size: 1.6rem; /*16 px dividido por 10*/
  font-weight: 700;
}

main {
  background: url("./assets/weather-bg.jpg") no-repeat top center/cover;
  min-height: 100vh;
  display: grid;
  gap: 2.4rem;
  place-content: center;
}

ul {
  list-style: none;
}

section {
  background: #6d67d0;
  backdrop-filter: blur(1rem);
  border-radius: 1rem;
}

.temperature-now-card {
  background: url("./assets/temp-bg.jpg");
  /* width: 48rem;
  height: 48rem; */
  position: relative;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

.temperature-now-card::before {
  content: "";
  width: 17.6rem;
  height: 17.6rem;
  background: url("./assets/clouds.svg") no-repeat;
  position: absolute;
  top: -5.6rem;
  left: -5.6rem;
}

.current-location {
  justify-self: end;
  padding: 3.2rem 3.2rem 0;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: #c2bff4;
}

.current-location h1 {
  font-size: 1.5rem;
}

.temperature-content {
  margin: 6rem;
  color: #fff;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}

.temperature-content .temp-number {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  text-align: center;
  font-size: 8.8rem;
}

.temperature-content .temp-minmax {
  font-size: 2rem;
}

.temperature-content .temp-minmax span {
  color: #c2bff4;
}

.temperature-content .temp-celsius {
  color: #dad8f7;
  font-size: 2.4rem;
  margin-top: 1.5rem;
}

.statistics {
  display: flex;
  gap: 0.8rem;
  padding: 1.2rem;
}

.stats {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 1.2rem;
  padding: 1.2rem 1.6rem;
  background-color: rgba(102, 96, 200, 0.6);
  border-radius: 0.6rem;
  color: #e7e6fb;
}

.stats-info h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

.stats-info p {
  font-size: 1.8rem;
}

.stats-info span {
  font-size: 1.4rem;
  color: #dad8f7;
}

/* AIR QUALITY SECTION */

.air-quality-card {
  text-align: center;
  display: grid;
}

.air-quality-card .air-quality-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.2rem;
  gap: 0.8rem;
  color: #dad8f7;
  font-size: 1.6rem;
}

.air-quality-card .air-quality {
  margin-top: 3.2rem;
  font-size: 1.8rem;
  color: #87ebcd;
}

.air-quality-card .air-quality-number {
  margin-top: 0.4rem;
  font-size: 4rem;
  color: #fff;
}

.air-quality-card .air-quality-info {
  gap: 0.8rem;
  margin-bottom: 3.2rem;
  padding: 1.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: #e7e6fb;
}

/* SUN TIME */

.sun-time-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.2rem;
  gap: 0.8rem;
  color: #dad8f7;
  font-size: 1.6rem;
}

.sun-chart-wrapper {
  margin-top: 4rem;
  height: 11rem;
}

.sun-chart {
  position: relative;
  --pos-x: 75;
  margin: auto;
  width: 21.6rem;
  height: 21.6rem;
}

.sun-chart::before {
  position: absolute;
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  background: #f6c833;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin: -0.6rem;
  transform: rotate(calc(1deg * (((100 - var(--pos-x)) / -100) * 180)))
    translate(10.6rem);
}

.chart {
  width: 21.6rem;
  height: 10.8rem;
  overflow: hidden;
}

.chart::before {
  display: block;
  content: "";
  width: 21rem;
  height: 21rem;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(251, 219, 96, 0.2) 0%,
    rgba(251, 219, 96, 0) 101.89%
  );
  --mask: linear-gradient(0deg, white 50%, transparent 0%);
  mask: var(--mask);
  -webkit-mask: var(--mask);
  rotate: calc(1.825deg * var(--pos-x));
}
.time-now {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  font-size: 1.4rem;
}
